### Compilação e saídas
out/
*.class
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Arquivos do Sistema
.DS_Store
Thumbs.db

# Configurações do IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Temporários
*.log
*.tmp